.page-padding {
  position: fixed !important;
  top: 0;
  left: 0;
  padding: 3rem;

  .page {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    .container {
      height: 100%;
      position: relative;
    }

    &.home {
      overflow: hidden;
      border-radius: 8px;
      background-color: $dark;
      box-shadow: 0 0 20px 1px $dark;
    }
  }

  &, .page {
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 740px) {
    padding: 1rem;
  }

  @media only screen and (max-width: 400px) {
    padding: 0.25rem;
  }
}
