<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Next Movie</title>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  </head>
  <body>
    <!-- Include Messenger Extensions SDK -->
    <script type="text/javascript">
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>

    <!-- Home page of the extension -->
    <template id="main">
      <v-ons-navigator
        :page-stack="pageStack"
        @push-page="pageStack.push($event)"
      ></v-ons-navigator>
    </template>

    <!-- Movie Details page -->
    <template id="details">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="left">
            <v-ons-back-button>Search</v-ons-back-button>
          </div>
          <div class="center">{{ detailMovie.title }}</div>
        </v-ons-toolbar>
      </v-ons-page>
    </template>

    <!-- Display list of movies -->
    <template id="current_list">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="center">Watch List</div>
          <div class="right">
            <v-ons-toolbar-button @click="gotoSearch">
              <v-ons-icon icon="fa-search"></v-ons-icon>
            </v-ons-toolbar-button>
          </div>
        </v-ons-toolbar>
        <p v-if="loadingList" style="text-align: center">
          <v-ons-progress-circular indeterminate></v-ons-progress-circular>
        </p>
        <template v-else>
          <template v-if="list.length > 0">
            <v-ons-card v-for="movie in list" style="width: 80%; margin-left: auto; margin-right: auto">
              <img v-if="movie.backdrop_path" :src="'https://image.tmdb.org/t/p/original/' + movie.backdrop_path" :alt="'Loading backdrop for ' + movie.title + '...'" style="width: 100%">
              <div class="title">
                {{ movie.title }}
              </div>
              <div class="content">
                <p>{{ movie.overview | truncate(200) }}</p>

                <v-ons-row>
                  <v-ons-col>
                    <v-ons-button modifier="outline" @click=";">
                      <v-ons-icon icon="fa-times"></v-ons-icon>
                    </v-ons-button>
                  </v-ons-col>
                  <v-ons-col style="text-align: center">
                    <v-ons-button modifier="quiet" @click="vm.details(movie.id)">
                      <template v-if="vm.$data.loadingDetails">
                        Loading...
                      </template>
                      <template v-else>
                        More Info
                        <v-ons-icon icon="fa-chevron-down"></v-ons-icon>
                      </template>
                    </v-ons-button>
                  </v-ons-col>
                  <v-ons-col style="text-align: right">
                    <v-ons-button @click="vm.suggest(movie.title, movie.backdrop_path, movie.id)">
                      <v-ons-icon icon="fa-share"></v-ons-icon>
                    </v-ons-button>
                  </v-ons-col>
                </v-ons-row>
              </div>
            </v-ons-card>
          </template>
          <p v-else style="text-align: center">{{ loadFailStatus }}</p>
        </template>
      </v-ons-page>
    </template>

    <!-- Search Page -->
    <template id="search">
      <v-ons-page style="text-align: center">
        <v-ons-toolbar>
          <div class="left">
            <v-ons-back-button>Watch List</v-ons-back-button>
          </div>
          <div class="center">Search</div>
        </v-ons-toolbar>

        <p>
          <v-ons-search-input placeholder="Search Movies" v-model="query" style="width: 80%"></v-ons-search-input>
        </p>

        <p>{{ feedback }}</p>

        <ul style="margin: 0; padding: 0; list-style-type: none">
          <v-ons-card v-for="result in results" style="width: 80%; margin-left: auto; margin-right: auto">
            <img v-if="result.backdrop_path" :src="'https://image.tmdb.org/t/p/w300/' + result.backdrop_path" :alt="'Loading backdrop for ' + result.title + '...'" style="width: 100%">
            <div class="title">
              {{ result.title }}
            </div>
            <div class="content">
              <p>{{ result.overview | truncate(200) }}</p>

              <v-ons-row>
                <v-ons-col>
                  <v-ons-button modifier="outline" @click="vm.add(result.id)">
                    <v-ons-icon icon="fa-plus"></v-ons-icon>
                  </v-ons-button>
                </v-ons-col>
                <v-ons-col style="text-align: center">
                  <v-ons-button modifier="quiet" @click="vm.details(result.id)">
                    <template v-if="vm.$data.loadingDetails">
                      Loading...
                    </template>
                    <template v-else>
                      More Info
                      <v-ons-icon icon="fa-chevron-down"></v-ons-icon>
                    </template>
                  </v-ons-button>
                </v-ons-col>
                <v-ons-col style="text-align: right">
                  <v-ons-button @click="vm.suggest(result.title, result.backdrop_path, result.id)">
                    <v-ons-icon icon="fa-share"></v-ons-icon>
                  </v-ons-button>
                </v-ons-col>
              </v-ons-row>
            </div>
          </v-ons-card>
        </ul>
      </v-ons-page>
    </template>

    <div id="app"></div>

    <!-- UI and Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.6.0/dist/vue-onsenui.js"></script>
    <script type="text/javascript">
      const details = {
        key: 'details',
        template: '#details'
      }

      const search = {
        key: 'search',
        template: '#search',
        data() {
          return {
            query: '',
            results: [],
            feedback: 'Search for a movie!'
          }
        },
        filters: {
          truncate (value, length) {
            let node = document.createElement('div')
            node.innerHTML = value
            let content = node.textContent
            return content.length > length ? content.slice(0, length) + '...' : content
          }
        },
        watch: {
          query (newQuery, oldQuery) {
            if (newQuery.length > oldQuery.length) {
              this.feedback = 'Waiting for you to stop typing...'
              this.debouncedSearch()
            }
          }
        },
        methods: {
          search() {
            this.feedback = 'Searching, please wait...'
            // axios.get('/search/' + this.query.split(' ').join('+'))
            axios.get('https://nextmovie.jakemitchell.xyz/search/' + this.query.split(' ').join('+'))
              .then((response) => {
                this.results = response.data.results
                this.feedback = response.data.total_results + ' results found.'
              })
              .catch((error) => {
                this.feedback = 'Error performing search.'
                console.error(error)
              })
          }
        },
        created() {
          this.debouncedSearch = _.debounce(this.search, 500)
        }
      }

      const current_list = {
        key: 'current_list',
        template: '#current_list',
        data() {
          return {
            loadingList: true,
            loadFailStatus: '',
            list: []
          }
        },
        methods: {
          gotoSearch() {
            this.$emit('push-page', search)
          }
        },
        created() {
          this.loadingList = true
          try {
            MessengerExtensions.getContext('196722140966868',
              (thread_context) => {
                // axios.get('/list/' + thread_context.tid)
                axios.get('https://nextmovie.jakemitchell.xyz/list/' + thread_context.tid)
                  .then((response) => {
                    this.list = response.data
                    if (!this.list || this.list.length === 0) {
                      this.loadFailStatus = 'Your List is empty!'
                    }
                    this.loadingList = false
                    console.log(this.list)
                  })
                  .catch((error) => {
                    this.loadFailStatus = 'Your list is empty!'
                    this.loadingList = false
                    console.log(error)
                  })
              },
              (error) => {
                this.loadingList = false
                this.loadFailStatus = 'Error getting Messenger context.'
                console.error('Error: ' + error)
              })
          } catch {
            this.loadingList = false
            this.loadFailStatus = 'Error loading Messenger Extensions.'
          }
        }
      }

      var vm = new Vue({
        el: '#app',
        template: '#main',
        data: {
          loadingDetails: false,
          detailMovie: null,
          pageStack: [current_list]
        },
        methods: {
          details(id) {
            this.loadingDetails = true
            // axios.get('/details/' + id)
            axios.get('https://nextmovie.jakemitchell.xyz/details/' + id)
              .then((response) => {
                this.loadingDetails = false
                this.detailMovie = response.data
                this.$emit('push-page', details)
              })
              .catch((error) => {
                this.loadingDetails = false
                console.error(error)
              })
          },
          suggest(title, backdrop, id) {
            let message = {
              'attachment': {
                'type': 'template',
                'payload': {
                  'template_type': 'generic',
                  'elements': [{
                    'title': title,
                    'image_url': 'https://image.tmdb.org/t/p/original' + backdrop,
                    'buttons': [{
                      'type': 'web_url',
                      'url': 'https://www.themoviedb.org/movie/' + id,
                      'title': 'View Details',
                    }]
                  }]
                }
              }
            }

            try {
              MessengerExtensions.beginShareFlow(
                (response) => {
                  if (response.is_sent === true) {
                  	MessengerExtensions.requestCloseBrowser()
                  }
                },
                (errorCode, errorMessage) => {
                   console.error(errorMessage)
                },
                message, 'current_thread'
              )
            } catch {
              this.$ons.notification.toast('Error loading Messenger Extensions.', { timeout: 2000 })
            }
          },
          add(movie_id) {
            try {
              MessengerExtensions.getContext('196722140966868',
                (thread_context) => {
                  // axios.post('/add/' + thread_context.tid + '/' + movie_id)
                  axios.post('https://nextmovie.jakemitchell.xyz/add/' + thread_context.tid + '/' + movie_id)
                    .then((response) => {
                      this.$ons.notification.toast('Movie Added!', { timeout: 2000 })
                    })
                    .catch((error) => {
                      this.$ons.notification.toast('Error adding movie to your list.', {timeout: 2000})
                      console.error(error)
                    })
                },
                (error) => {
                  this.$ons.notification.toast('Error getting Messenger context.', { timeout: 2000 })
                  console.error('Error: ' + error)
                })
            } catch {
              this.$ons.notification.toast('Error loading Messenger Extensions.', { timeout: 2000 })
            }
          }
        }
      })
    </script>
  </body>
</html>
