.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated-fast {
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

// Animations for Tooltips
@keyframes fadeGrowUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0) scale(0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
}

.fadeGrowUp {
  animation-name: fadeGrowUp;
}

@keyframes fadeShrinkDown {
 from {
   opacity: 1;
 }

 to {
   opacity: 0;
   transform: translate3d(0, 50%, 0) scale(0, 0);
 }
}

.fadeShrinkDown {
 animation-name: fadeShrinkDown;
}

// Animations for Dropup
@keyframes fadeGrowUpLeft {
  from {
    opacity: 0;
    transform: translate3d(30%, 100%, 0) scale(0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
}

.fadeGrowUpLeft {
  animation-name: fadeGrowUpLeft;
}

@keyframes fadeShrinkDownRight {
 from {
   opacity: 1;
 }

 to {
   opacity: 0;
   transform: translate3d(30%, 100%, 0) scale(0, 0);
 }
}

.fadeShrinkDownRight {
 animation-name: fadeShrinkDownRight;
}

/***********************************
 * Animations for page transitions *
 ***********************************/

@mixin enter-builder ($start) {
  0%, 30% {
    transform: translate3d($start) scale(0.7, 0.7);
  }

  70% {
    transform: translate3d(0, 0, 0) scale(0.7, 0.7);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
}

@mixin leave-builder ($end) {
  0% {
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  30% {
    transform: translate3d(0, 0, 0) scale(0.7, 0.7);
  }

  70%, 100% {
    transform: translate3d($end) scale(0.7, 0.7);
  }
}

@each $direction in $slide-directions {
  @keyframes #{$direction}enter {
    @include enter-builder(map-get($slide-start-coords, $direction))
  }

  @keyframes #{$direction}leave {
    @include leave-builder(map-get($slide-end-coords, $direction))
  }

  @each $motion in ('enter' 'leave') {
    .slide-#{$direction}-#{$motion}-active {
      animation-name: #{$direction}#{$motion};
    }
  }
}
