.nav-wrapper {
  position: absolute;
  z-index: 20;
  right: 0;
  bottom: 0;
  margin-right: 3rem;
  margin-bottom: 1rem;

  .nav-btn {
    display: inline-flex !important;
    justify-content: center;
    position: relative;

    &.dark {
      background-color: $dark;
    }
  }

  &.resume {
    margin-right: 1.5rem;
    margin-bottom: 0.75rem;
  }

  @media only screen and (max-width: 740px) {
    margin-right: 1rem;
  }
}
